@media screen and (max-width: 588px){
 
    /*Header*/

    .nav-list a {
        display: none;
    }


    #nav-header ul > a {
        margin-bottom: 5px;
    }

    /*Tela Inicial */ 
    #tela-inicial {
        padding: 50px;
        text-align: center;
    }

    #tela-inicial figure > img {
        display: none;
    }

    /* Sobre */ 

    #img-pessoas {
        width: 250px;
        
    }

    #img-smartphone {
        display: none;
    }

    #sobre-4safe div > h1 {
        padding-bottom: 20px;
    }

    #conteudo-sobre {
        width: 250px;
        text-align: center;
    }

    /* Seguro vida */ 

    #seguro-vida {
     
    }
    
    #box-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    

    /* footer */
    #logo{
        display: none;
    }
    #footer #rodape>div {
       margin: 20px 0;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 10vh 10vh;
        width: 100vw;
    }
     
    #menu-footer ul{
       display: flex;
        flex-direction: column;
    }
    #menu-footer ul li{
        margin: 10px 0;
    }
    #redes-sociais{
       
        justify-self: center;
    }
    #redes-sociais {
        height: 100%;
        
    }
    #rodape{
        margin-bottom: 100px;
    }
    #contato>img{
        display: none;
     }
}
@media screen and (min-width: 589px) and (max-width:769px) {

    /* Footer */
    #logo{
        display: none;
    }
    #footer #rodape>div{
        position: relative;
        left: 70px;
        
        
    }
    #footer #menu-footer ul{
        margin-bottom: 30px;
    }
    #contato>img{
       display: none;
    }
}

@media screen and (min-width:770px) and (max-width:992px) {
    #contato>img{
        height: 400px;
    }
    
}
@media screen and (min-width:993px) and (max-width:1200px) {
    
}
*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
}

header {
    
    background-color: #3B4F66;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    cursor: pointer;
    
}


button:active {
    transform: scale(1.1);
}

/*  Header */


.nav-list {
    list-style: none;
    background-color: #3B4F66;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.mobile-menu div {
    width: 30px;
    height: 2px;
    background: #fff;
    margin: 8px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

#logo-header {
    width: 170px;
    padding-left: 50px;
}

#nav-header {
    font-weight: bold;
    margin-right: 50px;
}

#nav-header a {
    color: white;
    margin-right: 20px;
}

#nav-header button {
    border: 0;
    color: white;
    font-weight: bold;
    padding: 8px;
    border-radius: 5px;
    background-color: #759f6a;
}

/* Tela inicial */

#tela-inicial{
    background-color: #3B4F66;
    color: white;
    height: 87vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#apresentacao-tela-inicial {
    margin-left: auto;
    margin-right: auto;
    width: 40em;
    display: flex;
    flex-direction: column;
   
}

#tela-inicial figure > img {
    width: 45em;
    height: auto;
    margin-top: 125px;
    margin-left: 150px;
}

#apresentacao-tela-inicial h1, p {
    margin-bottom: 50px;
}

#apresentacao-tela-inicial h1 {
    font-size: 35px;
}

#apresentacao-tela-inicial p {
    font-size: 20px;
}

#apresentacao-tela-inicial button {
    border: none;
    font-weight: bold;
    font-size: 15px;
    background-color: #759f6a;
    color: white;
    padding: 15px;
    border-radius: 5px;
}

/* Sobre */

#sobre-4safe{
    background-color: #3B4F66;
    color: white;
    padding: 200px;
    padding-left: 20%;
}

#sobre-4safe h1 {
    font-size: 30px;
    font-weight: bold;
    
}

#sobre-4safe p {
    font-size: 18px;
}


#img-smartphone {
    position: absolute;
    width: 250px;
    transform: translate(100%, 0%);
}

#img-smartphone {
    margin-left: 100px;
}


/* Seçao Seguro de Vida */ 

#seguro-vida {
    background-color: #f5f5f5;
    padding: 70px;
}

#seguro-vida h1 {
    padding-bottom: 50px;
}

#seguro-vida p {
    padding-bottom: 100px;
}

#box-cards {
    display: flex;
    
    justify-content: space-around;
}



.cards {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 300px;
}

.cards h4 {
    padding-bottom: 20px;
}

#img-familia {
    width: 400px;
    padding-bottom: 10px;
}

#img-menino {
    width: 180px;
    padding-bottom: 28px;
}

#img-criancas{
    width: 250px;
    padding-bottom: 34px;
}

#botao-cotacao {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 0;
    background-color: #759f6a; 
    padding: 20px;
    border-radius: 10px; 
    font-weight: bold;
    color: #f5f5f5;
}

/*  seção de contato*/
#contato{
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-evenly;
    padding: 90px 0;
    
}
#contato>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#contato>img{
    max-width: 600px;
}
#contato #formulario{
    display: flex;
    flex-direction: column;

}
#contato>div>h2{
    margin-bottom: 40px;
} 
#contato>div a{
    width: 100%;
    text-align: center;
}
#contato>div a button:hover{
    background-color: #53da31;
}
#contato>div a button{
    background-color:#759f6a ;
    color: white;
    font-weight: bolder;
    border-radius: 7px;
    height: 40px;
    width: 90%;
    padding: 10px 30px;
    border: 0;
}
#contato #formulario input{
    border-radius: 7px;
    height: 30px;
    margin-top: 10px;
    border: 0;
}
#contato #formulario label{
    margin-top: 20px;
}
#contato #formulario textarea{
    margin: 20px 0;
    border-radius: 10px;
    border: 0;
}

/*   Footer */
#footer{
    background-color: #3b4f66;
    padding: 40px 0;
    text-align: center;
    color: white;
}

#footer div a img{
    height: 7vh;
}
#redes-sociais a{
    margin: 0 12px;
}
#redes-sociais a:hover{
    border: 3px solid #759f6a ;
    background-color: #759f6a;
    border-radius: 30px;
}
#footer div  #logo img{
    height: 24vh;
}
#footer #menu-footer ul{
    list-style: none;
    display: flex;
    
    
    justify-content: center;
    align-items: center;
    
    
}
#footer #menu-footer ul li a{
    text-decoration: none;
}
#footer #menu-footer ul li:hover{
    background-color: #759f6a;
    border-radius: 30px;
}

 #redes-sociais{
    margin: 20px 0;
    width: 70vw;
    
    
 }
 

#footer #rodape{
    display: grid;
    grid-template-columns: 20vw 1fr 1fr;
    grid-template-rows: 1fr;
    
    align-items: center;
    color: white;
    font-weight: bolder;
    
    
}

#footer #menu-footer ul li a{
    color: white;
    margin: 0 20px;
}