@media screen and (max-width: 588px){
    #logo{
        display: none;
    }
    #footer #rodape>div {
       margin: 20px 0;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 10vh 10vh;
        width: 100vw;
    }
     
    #menu-footer ul{
       display: flex;
        flex-direction: column;
    }
    #menu-footer ul li{
        margin: 10px 0;
    }
    #redes-sociais{
       
        justify-self: center;
    }
    #redes-sociais {
        height: 100%;
        
    }
    #rodape{
        margin-bottom: 100px;
    }
    #contato>img{
        display: none;
     }
}
@media screen and (min-width: 589px) and (max-width:769px) {
    #logo{
        display: none;
    }
    #footer #rodape>div{
        position: relative;
        left: 70px;
        
        
    }
    #footer #menu-footer ul{
        margin-bottom: 30px;
    }
    #contato>img{
       display: none;
    }
}

@media screen and (min-width:770px) and (max-width:992px) {
    #contato>img{
        height: 400px;
    }
    
}
@media screen and (min-width:993px) and (max-width:1200px) {
    
}
*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
}

header {
    
    background-color: #3B4F66;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    cursor: pointer;
    
}


button:active {
    transform: scale(1.1);
}

/*  Header */

#logo-header {
    width: 170px;
    padding-left: 50px;
}

#nav-header {
    font-weight: bold;
    margin-right: 50px;
}

#nav-header a {
    color: white;
    margin-right: 20px;
}

#nav-header button {
    border: 0;
    color: white;
    font-weight: bold;
    padding: 8px;
    border-radius: 5px;
    background-color: #759f6a;
}

/* Tela inicial */

#tela-inicial{
    background-color: #3B4F66;
    color: white;
    height: 87vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#apresentacao-tela-inicial {
    margin-left: auto;
    margin-right: auto;
    width: 40em;
    display: flex;
    flex-direction: column;
   
}

#tela-inicial figure > img {
    width: 45em;
    height: auto;
    margin-top: 125px;
    margin-left: 150px;
}

#apresentacao-tela-inicial h1, p {
    margin-bottom: 50px;
}

#apresentacao-tela-inicial h1 {
    font-size: 35px;
}

#apresentacao-tela-inicial p {
    font-size: 20px;
}

#apresentacao-tela-inicial button {
    border: none;
    font-weight: bold;
    font-size: 15px;
    background-color: #759f6a;
    color: white;
    padding: 15px;
    border-radius: 5px;
}

/* Sobre */

#sobre-4safe{
    background-color: #3B4F66;
    color: white;
    padding: 200px;
    padding-left: 20%;
}

#sobre-4safe h1 {
    font-size: 30px;
    font-weight: bold;
    
}

#sobre-4safe p {
    width: 50em;
    height: auto;
    font-size: 18px;
}
<<<<<<< HEAD


#img-smartphone {
    position: absolute;
    width: 250px;
    transform: translate(100%, 0%);
}

#img-smartphone {
=======


#img-smartphone {
    position: absolute;
    width: 250px;
    transform: translate(100%, 0%);
}

#img-smartphone {
>>>>>>> 9c2f434ab7c366a7312b561e546d3842429f4c6c
    margin-left: 100px;
}

/* seção seguro de vida */
#seguro-vida{ 
    background-color: #f5f5f5;
    padding: 90px 0px;
}
#seguro-vida main{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 400px 1fr ;
    align-items: center;
    margin-left: 400px;
}
#bloco1{
    border: 3px solid green;
    width: 300px;
    display: grid;
    flex-direction: column;
}
#bloco1 img{
width: 100%;
    
}
#blocos{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 10px;
    margin-bottom: 150px;
    margin-top: 40px;
}

<<<<<<< HEAD
#seguro-vida>main a button:hover{
    background-color: #53da31;
}
#seguro-vida>main a button{
    background-color:#759f6a;
    color: white;
    font-weight: bolder;
    border-radius: 7px;
    height: 40px;
    width: 22%;
    padding: 10px 30px;
    margin-top: 700px;
}
#img-familia{
    
}
#img-menino{
    
}
#img-criancas{
=======
#seguro-vida{
>>>>>>> 9c2f434ab7c366a7312b561e546d3842429f4c6c
    
}

/* seção auto */
#seguro-auto{
<<<<<<< HEAD
        background-color: #3B4F66;
        color: white;
        display: flex;
        justify-content: space-evenly;
        padding: 90px 0px;  
}
#seguro-auto>div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#seguro-auto>img{
    max-width: 600px;
}
#seguro-auto #formulario{
    display: flex;
    flex-direction: column;
}
#seguro-auto>div>h2{
    margin-bottom: 40px;
}

#seguro-auto>div a button:hover{
    background-color: #53da31;
}
#seguro-auto>div a button{
    background-color:#759f6a;
    color: white;
    font-weight: bolder;
    border-radius: 7px;
    height: 40px;
    width: 100%;
    padding: 10px 30px;
}
#img-carinha{
    width: 32px;
    height: 32px;
    margin-top: 40px;
    margin-right: 40px;
}
#img-precobaixo{
    width: 32px;
    height: 32px;
}
#img-relogio{
    width: 32px;
    height: 32px;
}
#seguro-auto #formulario p{
    text-align: end;
}


=======
    
}
>>>>>>> 9c2f434ab7c366a7312b561e546d3842429f4c6c

/*  seção de contato*/
#contato{
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-evenly;
    padding: 90px 0;
    
}
#contato>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#contato>img{
    max-width: 600px;
}
#contato #formulario{
    display: flex;
    flex-direction: column;
}
#contato>div>h2{
    margin-bottom: 40px;
} 
#contato>div a{
    width: 100%;
    text-align: center;
}
#contato>div a button:hover{
    background-color: #53da31;
}
#contato>div a button{
    background-color:#759f6a ;
    color: white;
    font-weight: bolder;
    border-radius: 7px;
    height: 40px;
    width: 90%;
    padding: 10px 30px;
}
#contato #formulario input{
    border-radius: 7px;
    height: 30px;
    margin-top: 10px;
}
#contato #formulario label{
    margin-top: 20px;
}
#contato #formulario textarea{
    margin: 20px 0;
    border-radius: 10px;
}

/*   Footer */
#footer{
    background-color: #3b4f66;
    padding: 40px 0;
    text-align: center;
    color: white;
}

#footer div a img{
    height: 7vh;
}
#redes-sociais a{
    margin: 0 12px;
}
#redes-sociais a:hover{
    border: 3px solid #759f6a ;
    background-color: #759f6a;
    border-radius: 30px;
}
#footer div  #logo img{
    height: 24vh;
}
#footer #menu-footer ul{
    list-style: none;
    display: flex;
    
    
    justify-content: center;
    align-items: center;
    
    
}
#footer #menu-footer ul li a{
    text-decoration: none;
}
#footer #menu-footer ul li:hover{
    background-color: #759f6a;
    border-radius: 30px;
}

 #redes-sociais{
    margin: 20px 0;
    width: 70vw;
    
    
 }
 

#footer #rodape{
    display: grid;
    grid-template-columns: 20vw 1fr 1fr;
    grid-template-rows: 1fr;
    
    align-items: center;
    color: white;
    font-weight: bolder;
    
    
}

#footer #menu-footer ul li a{
    color: white;
    margin: 0 20px;
}
